<!DOCTYPE html>
<html>
    <head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Kalkulator Zakat Maal</title>
        <script src="static/jquery-1.12.0.min.js"></script>
        <script src="static/convert-rupiah.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script>
            $(function () {
            	$("#user-form").on("submit", function (e) {
				    e.preventDefault();
				    

				    var $self = $(this);
				    var payload = JSON.stringify({
				        wealth: parseInt($('[name="wealth"]').val(), 10),
				        line_name: $('[name="line_name"]').val()
				    });

				    $.ajax({
				        url: $self.attr("action"),
				        type: $self.attr("method"),
				        data: payload,
				        contentType: 'application/json',
				    }).then(function (res) {
				    	if (res[0]["Type"] == 0) {
				    		console.log(res[0]);
					        $("#message2").css("display", "none");
					        $("#nama").text(res[0]["Name"]);
					        $("#harta").text(convertToRupiah(res[0]["Total_wealth"]));
					        $("#nisab").text(convertToRupiah(res[0]["Nisab"]));
					        $("#message1").css("display", "block");
				        } else {
					        $("#message1").css("display", "none");
					        $("#nama2").text(res[0]["Name"]);
					        $("#harta2").text(convertToRupiah(res[0]["Total_wealth"]));
					        $("#nisab2").text(convertToRupiah(res[0]["Nisab"]));
					        $("#zakat2").text(convertToRupiah(res[0]["Zakat"]));
					        $("#message2").css("display", "block");
					    }
				    }).catch(function (a) {
				        alert("ERROR: " + a.responseText);
				    });
				});
            });
        </script>
    </head>
    <body>
    	<h3 class="zakat_harta">Zakat Maal</h3>
    	<div class="info_zakat_harta">
			<p>Zakat Harta atau Zakat Maal adalah sejumlah harta yang wajib dikeluarkan bila telah mencapai batas minimal tertentu (nisab) dalam kurun waktu (haul) setiap satu tahun kalender. Nisab Zakat Maal adalah setara dengan 85 gr emas 24 karat.</p>
		</div>

			<div id="message" style="padding-bottom: 10px"> 
        <div id="message1" style="display: none;">
        	Hai <strong id="nama"></strong>total harta kamu dalam kurun 1 tahun sebesar <strong id="harta"></strong>, dan Nisab saat ini <strong id="nisab"></strong>. Karena Total harta lebih kecil dari nisab anda tidak perlu membayar zakat
        </div>

        <div id="message2" style="display: none;">
        	Hai <strong id="nama2"></strong>total harta kamu dalam kurun 1 tahun sebesar <strong id="harta2"></strong>, dan Nisab saat ini <strong id="nisab2"></strong>. Karena total harta lebih besar dari nisab jadi zakat maal yang harus anda bayarkan sebesar <strong id="zakat2"></strong>
        </div>
      </div>

      <div style="padding-bottom: 10px">
	      <form id="user-form" method="post" action="/save">
				  <div class="form-group">
				    <label>Total Harta</label>
				    <input required type="number" class="form-control" name="wealth" placeholder="Total Harta">
				    <small id="hartaHelp" class="form-text text-muted">Akumulasi Harta yang mengendap (tidak digunakan) selama 1 tahun.</small>
				  </div>
				  <input id="displayNameField" type="hidden" name="line_name" value="">
				  <div class="text-center">
				  	<button type="submit" class="btn btn-primary">Submit</button>
				  </div>
				</form>
			</div>

      <div id="liffAppContent" class="text-center">
          <div class="buttonGroup">
              <button id="liffLoginButton" class="btn btn-success">Masuk</button>
              <button id="liffLogoutButton" class="btn btn-danger">Keluar</button>
          </div>
      </div>

      <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
      <script src="static/liff-starter.js"></script>
    </body>
</html>