<!DOCTYPE html>
<html>
    <head>
        <title>JSON Payload</title>
        <script src="static/jquery-1.12.0.min.js"></script>
        <script>
            $(function () {
            	$("#user-form").on("submit", function (e) {
				    e.preventDefault();

				    var $self = $(this);
				    var payload = JSON.stringify({
				        gold_value: parseInt($('[name="gold_value"]').val(), 10),
				        wealth: parseInt($('[name="wealth"]').val(), 10)
				    });

				    $.ajax({
				        url: $self.attr("action"),
				        type: $self.attr("method"),
				        data: payload,
				        contentType: 'application/json',
				    }).then(function (res) {
				        $(".message").text(res);
				    }).catch(function (a) {
				        alert("ERROR: " + a.responseText);
				    });
				});
            });
        </script>
    </head>
    <body>
    	<h3 class="zakat_harta">Zakat Maal</h3>
    	<div class="info_zakat_harta">
			<p>Zakat Harta atau Zakat Maal adalah sejumlah harta yang wajib dikeluarkan bila telah mencapai batas minimal tertentu (nisab) dalam kurun waktu (haul) setiap satu tahun kalender.</p>
		</div>
        <p class="message"></p>
        <form id="user-form" method="post" action="/save">
        	<table noborder>
			    <tr>
			        <td><label>Harga Emas saat ini (dalam gram) :</label></td>
			        <td>
			            <input required type="number" name="gold_value" placeholder="Harga Emas Saat ini" value="730000" />
			        </td>
			    </tr>
			    <tr>
			        <td><label>Total Harta :</label></td>
			        <td>
			            <input required type="number" name="wealth" placeholder="Total Harta" />
			        </td>
			    </tr>
			    <!-- <tr>
			        <td><label>Gender :</label></td>
			        <td>
			            <select name="gender" required style="width: 100%;">
			                <option value="">Select one</option>
			                <option value="male">Male</option>
			                <option value="female">Female</option>
			            </select>
			        </td>
			    </tr> -->
			    <tr>
			        <td colspan="2" style="text-align: right;">
			            <button type="submit">Save</button>
			        </td>
			    </tr>
			</table>
        </form>
    </body>
</html>