<!DOCTYPE html>
<html>
    <head>
        <title>JSON Payload</title>
        <script src="static/jquery-1.12.0.min.js"></script>
        <script>
            $(function () {
            	$("#user-form").on("submit", function (e) {
				    e.preventDefault();

				    var $self = $(this);
				    var payload = JSON.stringify({
				        gold_value: parseInt($('[name="gold_value"]').val(), 10),
				        wealth: parseInt($('[name="wealth"]').val(), 10)
				    });

				    $.ajax({
				        url: $self.attr("action"),
				        type: $self.attr("method"),
				        data: payload,
				        contentType: 'application/json',
				    }).then(function (res) {
				        $(".message").text(res);
				    }).catch(function (a) {
				        alert("ERROR: " + a.responseText);
				    });
				});
            });
        </script>
    </head>
    <body>
        <p>
            Hai <b id="displayNameField"> Sahabat Line</b>
        </p>
    	<h3 class="zakat_harta">Zakat Maal</h3>
    	<div class="info_zakat_harta">
			<p>Zakat Harta atau Zakat Maal adalah sejumlah harta yang wajib dikeluarkan bila telah mencapai batas minimal tertentu (nisab) dalam kurun waktu (haul) setiap satu tahun kalender.</p>
		</div>
        <p class="message"></p>
        <form id="user-form" method="post" action="/save">
        	<table noborder>
			    <tr>
			        <td><label>Harga Emas saat ini (dalam gram) :</label></td>
			        <td>
			            <input required type="number" name="gold_value" placeholder="Harga Emas Saat ini" value="730000" />
			        </td>
			    </tr>
			    <tr>
			        <td><label>Total Harta :</label></td>
			        <td>
			            <input required type="number" name="wealth" placeholder="Total Harta" />
			        </td>
			    </tr>
			    <tr>
			        <td colspan="2" style="text-align: right;">
			            <button type="submit">Save</button>
			        </td>
			    </tr>
			</table>
        </form>
        <div id="liffAppContent">
            <div class="buttonGroup">
                <button id="liffLoginButton">Log in</button>
                <button id="liffLogoutButton">Log out</button>
            </div>
        </div>
        <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
        <script src="static/liff-starter.js"></script>
    </body>
</html>